{% extends 'base.html.twig' %}

{% block title %}Modifier la session d'entraînement{% endblock %}

{% block body %}
    <h1>Modifier la session d'entraînement</h1>

    {{ include('training_session/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_training_session_index') }}">
        Retour à la liste
    </a>

    {{ include('training_session/_delete_form.html.twig') }}
{% endblock %}