/*body {
    background-color: #f5f6f8;
}

.navbar {
    background-color: #111 !important;
}

.card {
    border: none;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}

h1, h2, h3 {
    font-weight: 700;
}

.btn-primary {
    background: #e63946;
    border: none;
}

.btn-primary:hover {
    background: #c92f3a;
}*/